body {
  font-family: 'Ubuntu Mono', monospace;
  align-items: center;
  justify-content: center;
}

.title {
  margin: 1em;
  font-size: 50px;
  font-weight: bold;
}
.subtitle, .title {
  font-family: "YouTube Sans", sans-serif;
}

.grow-rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: scale(1.1) rotate(4deg);
  transform: scale(1.1) rotate(4deg);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-property: transform;
  transition-property: transform;
}

a:link {
  text-decoration: none;
}

.rob {
	width: 280px;
	height: 140px;
	border-radius: 12px;
	border: 2px solid #000;
	background: #FFFFFF;
	margin: 0 14px 0 14px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.rob > img {
	max-width: 220px;
	max-height: 140px;
}

.rob-down {
  width: 280px;
	height: 140px;
	border-radius: 12px;
	border: 2px solid #FF0000;
	background: #FFFFFF;
	margin: 0 14px 0 14px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.rob-down > img {
	max-width: 220px;
	max-height: 140px;
}

a.l:link {
  color: black;
  text-decoration: underline;
}
a.l:visited {
  color: black;
}
a.l:hover {
  text-decoration: none;
}
