body {
  font-family: 'Ubuntu Mono', monospace;
  align-items: center;
  justify-content: center;
}

.title {
  margin: 1em;
  font-size: 50px;
  font-weight: bold;
}
.subtitle, .title {
  font-family: "YouTube Sans", sans-serif;
}

.grow-rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: scale(1.1) rotate(4deg);
  transform: scale(1.1) rotate(4deg);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-property: transform;
  transition-property: transform;
}

a:link {
  text-decoration: none;
}

.rob {
	width: 280px;
	height: 140px;
	border-radius: 12px;
	border: 2px solid #000;
	background: #FFFFFF;
	margin: 0 14px 0 14px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.rob > img {
	max-width: 220px;
	max-height: 140px;
}

.rob-down {
  width: 280px;
	height: 140px;
	border-radius: 12px;
	border: 2px solid #FF0000;
	background: #FFFFFF;
	margin: 0 14px 0 14px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.rob-down > img {
	max-width: 220px;
	max-height: 140px;
}

a.l:link {
  color: black;
  text-decoration: underline;
}
a.l:visited {
  color: black;
}
a.l:hover {
  text-decoration: none;
}

/* Bob */
@-webkit-keyframes bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.bob {
  -webkit-animation-name: bob-float, bob;
  animation-name: bob-float, bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
